<nz-layout>
  <nz-header *ngIf="isLoggedIn">
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item>
        <a routerLink=""><span nz-icon nzType="home" nzTheme="fill"></span></a>
      </li>
      <li nz-menu-item>
        <a routerLink="/teachers"><strong>Oktatók</strong></a>
      </li>
      <li nz-menu-item>
        <a routerLink="/students"><strong>Hallgatók</strong></a>
      </li>
      <li nz-menu-item>
        <a routerLink="/subjects"><strong>Tantárgyak</strong></a>
      </li>
      <li nz-menu-item>
        <a routerLink="/semesters"><strong>Félévek</strong></a>
      </li>
      <li nz-menu-item>
        <a
          (click)="logout()"
          nz-tooltip
          nzTooltipTitle="Kijelentkezés"
          nzTooltipPlacement="bottom"
        >
          <span nz-icon nzType="logout" nzTheme="outline"></span>
        </a>
      </li>
    </ul>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
