<nz-space *ngIf="showFilter">
  <div *ngFor="let column of columns">
    <form
      [formGroup]="filter"
      *ngIf="column.filter"
      [ngSwitch]="column.filter.type"
    >
      <div *ngSwitchCase="'text'">
        <nz-input-group [nzSuffix]="inputClearTpl">
          <input
            type="text"
            nz-input
            [placeholder]="column.title"
            [formControlName]="column.filter.value"
          />
        </nz-input-group>
        <ng-template #inputClearTpl>
          <span
            nz-icon
            class="ant-input-clear-icon"
            nzTheme="outline"
            nzType="close"
            *ngIf="filter.value[column.filter.value] !== ''"
            (click)="filter.controls[column.filter.value].setValue(undefined)"
          ></span>
        </ng-template>
      </div>

      <div *ngSwitchCase="'number'">
        <nz-input-group [nzSuffix]="inputClearTpl">
          <input
            type="number"
            nz-input
            [placeholder]="column.title"
            [formControlName]="column.filter.value"
          />
        </nz-input-group>
        <ng-template #inputClearTpl>
          <span
            nz-icon
            class="ant-input-clear-icon"
            nzTheme="outline"
            nzType="close"
            *ngIf="filter.value[column.filter.value] !== ''"
            (click)="filter.controls[column.filter.value].setValue(undefined)"
          ></span>
        </ng-template>
      </div>

      <div *ngSwitchCase="'select'">
        <nz-select
          *ngIf="column.filter.options"
          nzAllowClear
          [nzClearIcon]="clearIcon"
          [formControlName]="column.filter.value"
          [nzPlaceHolder]="column.title"
        >
          <nz-option
            *ngFor="let option of column.filter.options"
            [nzLabel]="option.label"
            [nzValue]="option.value"
          ></nz-option>
        </nz-select>
        <ng-template #clearIcon>
          <span
            nz-icon
            class="ant-input-clear-icon"
            nzTheme="outline"
            nzType="close"
          ></span>
        </ng-template>
      </div>

      <div *ngSwitchDefault></div>
    </form>
  </div>
</nz-space>
<nz-table #sortTable [nzData]="items" nzTableLayout="fixed" [nzSize]="size">
  <thead>
    <tr>
      <th
        *ngFor="let column of columns"
        [nzSortFn]="column.compare"
        [nzSortPriority]="column.priority"
      >
        {{ column.title }}
      </th>
      <th *ngIf="actions.length > 0" nzWidth="10%"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of sortTable.data">
      <td *ngFor="let key of columns" [ngSwitch]="key.value">
        <span *ngSwitchCase="'semester'">
          {{ item[key.value].name ?? "" }}
        </span>
        <span *ngSwitchDefault>
          {{ item[key.value] ?? "" }}
        </span>
      </td>
      <td nzAlign="center" *ngIf="actions.length > 0" id="actions-td">
        <button
          *ngIf="actions.includes('subjects')"
          nz-button
          nz-tooltip
          nzType="primary"
          nzShape="circle"
          (click)="onSubjects(item)"
          nzTooltipTitle="Tantárgyak"
          nzTooltipPlacement="bottom"
        >
          <span nz-icon nzType="file" nzTheme="fill"></span>
        </button>
        <button
          *ngIf="actions.includes('edit') && isAdmin"
          nz-button
          nz-tooltip
          nzType="primary"
          nzShape="circle"
          (click)="onEdit(item)"
          nzTooltipTitle="Módosítás"
          nzTooltipPlacement="bottom"
        >
          <span nz-icon nzType="edit" nzTheme="fill"></span>
        </button>
        <button
          *ngIf="actions.includes('delete') && isAdmin"
          nz-button
          nz-tooltip
          nzType="primary"
          nzShape="circle"
          nzTooltipTitle="Törlés"
          nzTooltipPlacement="bottom"
          nz-popconfirm
          nzPopconfirmTitle="Biztosan törölni szeretné?"
          nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="onDelete(item)"
        >
          <span nz-icon nzType="delete" nzTheme="fill"></span>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
